/* variables*/
$primary-color: rgba(35,56,52,1);
$color-trans: rgba(35,56,52, 0.3);
$light-shadow: 10px 10px 88px -32px $primary-color;


/* mixins */
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin no-outline {
	border: none;
	outline: none;
}

@mixin big-margin { 
	margin-top: 50px;
	margin-bottom: 50px; 
}

@mixin small-margin {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* general */
a { color: $color-trans;}

a:hover { color: $primary-color; }

.App {
  text-align: center;	
}

/* form */
input[type=text] {
	background: white;
	@include no-outline;
	border-bottom: 2px solid $primary-color;
	width: 100%;
	line-height: 2;
	text-align: center;
	font-size: 20px;
}

.btn {
	background-color: $color-trans;
	height: 40px;
	width: 100%;
	font-size: 20px;
	border-radius: 15px;
	@include no-outline;
	@include small-margin;
	
}

.btn:hover { 
	background-color: $primary-color; 
	color: white;
}
.btn:active { transform: translateY(4px);}


/* profile */
.profile { @include big-margin; }


.avatar {
	border-radius: 50%;
  width: 100px;
  height: 100px;
}


/*repositories*/
.reps { 
	
	[class*="col-"] { 
		padding: 20px; 
		@include box-shadow($light-shadow); 
	}
	 div { margin-bottom: 20px; }
	
}


